<ion-header>
  <ion-navbar>
      <ion-title>
      </ion-title>
  </ion-navbar>
</ion-header>
    
<ion-content padding>
  <div class="block block_landing">
    <figure class="block_scroll-img-wrap">
      <div style="background-image: url('/assets/imgs/dosa.jpg')" class="block_scroll-img landing-img">
        <div class="block block_landing-content">
            <span class="block_landing-main">My Kitchen</span><br>
            <span class="block_landing-sub">
                4200 Mapleshade Ln, Plano, TX, 75075<br>
                4.8 <i class="fa fa-star" aria-hidden="true"></i>
                (200 reviews)
            </span>
        </div>
      </div>
    </figure>

    <section class="block block_landing-info">
      Indian - South Indian
    </section>

    <section class="block block_landing-items-wrap">

      <h2 class="block_landing-title">Most Popular</h2>
      <div class="block_landing-items">
        <span class="block_landing-item-info">
          <span class="block_landing-item-name">Idly</span>
          <span class="block_landing-item-price">$4.99</span><br>
          <p class="block_landing-item-desc">
              A south Indian steamed cake of rice, usually served with sambhar
          </p>
        </span>
        <img src="/assets/imgs/idly.jpeg" alt="Idly">
      </div>
      <div class="block_landing-items">
        <span class="block_landing-item-info">
          <span class="block_landing-item-name">Dosa</span>
          <span class="block_landing-item-price">$6.99</span><br>
          <p class="block_landing-item-desc">
              A properly made crisp and savory Indian dosa made from a fermented batter
          </p>
        </span>
        <img src="/assets/imgs/dosa.jpg" alt="Dosa">
      </div>
      <div class="block_landing-items">
        <span class="block_landing-item-info">
          <span class="block_landing-item-name">Thali</span>
          <span class="block_landing-item-price">$12.99</span><br>
          <p class="block_landing-item-desc">
              A traditional south Indian meal with various dishes served on a platter
          </p>
        </span>
        <img src="/assets/imgs/thali.jpg" alt="Thali">
      </div>
      
    </section>
  </div>
</ion-content>