<ion-header>
    <ion-navbar>
      <ion-title class="c-header-title">
          <i class="fa fa-sm fa-user-circle-o" aria-hidden="true"></i>

          <span class="c-header-title-selected">Full Name </span>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
        <ion-item class="c-list-item">
            <ion-icon name="ios-happy-outline" item-start></ion-icon>
                <span class="c-list-text">Recommended</span>
        </ion-item>
        <ion-item class="c-list-item">
            <ion-icon name="ios-card" item-start></ion-icon>
                <span class="c-list-text">Payment</span>
        </ion-item>
        <ion-item class="c-list-item">
            <ion-icon name="md-settings" item-start></ion-icon>
                <span class="c-list-text">Settings</span>
        </ion-item>
        <ion-item class="c-list-item">
            <ion-icon name="md-person" item-start></ion-icon>
                <span class="c-list-text">Contact</span>
        </ion-item>
    </ion-list>
  </ion-content>
  