<ion-header>
    <ion-navbar>
      <ion-title class="c-header-title">
        <span class="c-header-title-location">Location <i class="icon icon-loaction-pin"></i></span>
        <span class="c-header-title-selected">Plano 
          <span class="icon-round-border"><i class="icon icon-down-arrow"></i></span>
        </span>
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    
      <section class="block block_scroll">
        <h2 class="block_scroll-title">Featured</h2>
        <div class="block_scroll-wrapper">
            <figure class="block_scroll-img-wrap">
              <img src="../assets/imgs/home-img1.jpg" class="block_scroll-img" alt="kitchen-img">      
            </figure>
            <article class="block_scroll-content">
              <div class="block_scroll-content-title">My Kitchen - 
                <span class="block_scroll-location">Plano</span>
                <i class="fa fa-lg fa-thumbs-o-up" aria-hidden="true"></i>
              </div>
              <div class="block_scroll-sub-title">Indian - South Indian</div>
              <div class="block_scroll-footer">
                  <span class="block_scroll--bg-gray">
                    <span class="block_scroll--like">4.2 (150) <i class="fa fa-lg fa-thumbs-up" aria-hidden="true"></i></span>
                 </span>
                  <span class="block_scroll--bg-gray">Min 3 Days</span>
              </div>
            </article>
        </div>
      </section>
  
    <div class="block-divider"></div>
  
    <section class="block block_scroll">
      <h2 class="block_scroll-title">Popular</h2>
      <h3 class="block_scroll-title--sub">In this area</h3>
        <div class="block_scroll-wrapper">
          <figure class="block_scroll-img-wrap">
            <img src="../assets/imgs/home-img2.jpg" class="block_scroll-img" alt="kitchen-img">      
          </figure>
          <article class="block_scroll-content">
            <div class="block_scroll-content-title">My Kitchen - 
                <span class="block_scroll-location">Plano</span>
                <i class="fa fa-lg fa-thumbs-o-up" aria-hidden="true"></i>
            </div>
            <div class="block_scroll-sub-title">Indian - South Indian</div>
            <div class="block_scroll-footer">
              <span class="block_scroll--bg-gray">
                <span class="block_scroll--like">4.2 (150) <i class="fa fa-lg fa-thumbs-up" aria-hidden="true"></i></span>
              </span>
              <span class="block_scroll--bg-gray">Min 3 Days</span>
            </div>
          </article>
        </div>
     </section>
  
    <div class="block-divider"></div>
  
    <section class="block block_scroll">
    <h2 class="block_scroll-title">Popular by Region</h2>
      <div class="block_scroll-wrapper">
          <figure class="block_scroll-img-wrap">
          <img src="../assets/imgs/home-img1.jpg" class="block_scroll-img" alt="kitchen-img">      
        </figure>
        <article class="block_scroll-content">
          <div class="block_scroll-content-title">My Kitchen - 
            <span class="block_scroll-location">Plano</span>
            <i class="fa fa-lg fa-thumbs-o-up" aria-hidden="true"></i>
          </div>
          <div class="block_scroll-sub-title">Indian - South Indian</div>
          <div class="block_scroll-footer">
            <span class="block_scroll--bg-gray">
              <span class="block_scroll--like">4.2 (150) <i class="fa fa-lg fa-thumbs-up" aria-hidden="true"></i></span>
            </span>
            <span class="block_scroll--bg-gray">Min 3 Days</span>
          </div>
        </article>
      </div>
    </section>
  </ion-content>
  