<ion-header>
    <ion-navbar>
      <ion-title>
      </ion-title>
    </ion-navbar>
  </ion-header>
    
  <ion-content padding>
  
    <section class="block block_input">
        <i class="fa fa-search"></i>
        <input id="search" type="text" placeholder="Search">
        <i class="fa fa-arrow-right"></i>
    </section>
  
    <section class="block block_scroll">
      <h2 class="block_scroll-title">Popular Picks</h2>
        <figure class="block_search-img-wrap">
          <div class="display-title">
              <img src="../assets/imgs/idly.jpeg" class="block_search-img" alt="idly-img">
              <p>Idly</p>
          </div>
          <div class="display-title">
              <img src="../assets/imgs/dosa.jpg" class="block_search-img" alt="dosa-img">
              <p>Dosa</p>
          </div>
          <div class="display-title">
              <img src="../assets/imgs/chapathi.jpg" class="block_search-img" alt="chapathi-img">
              <p>Chapathi</p>
          </div>
          <div class="display-title">
              <img src="../assets/imgs/thali.jpg" class="block_search-img" alt="thali-img">
              <p>Thali</p>
          </div>
          <div class="display-title">
              <img src="../assets/imgs/veg-curry.jpg" class="block_search-img" alt="veg-curry-img">
              <p>Veg Curry</p>
          </div>
          <div class="display-title">
              <img src="../assets/imgs/chicken-curry.jpg" class="block_search-img" alt="chicken-curry-img">
              <p>Chicken Curry</p>
          </div>
        </figure>
    </section>
  
  </ion-content>
  